[flake8]

max-line-length = 120

doctests = True

ignore =
	# continuation line over-indented for hanging indent
	E126,
	# block comment should start with '# '
	E265,
	# line break before binary operator
	W503,

exclude =
	.git

# vim: ft=cfg
